{% extends "base.html" %} {%load static%} {% block contenido %}
<h2 id="tipobicih2">Nuestros Tipos de Bicicletas</h2>
<div class="tiposbicis">



    <section id=tipobici>
        <img src="{% static 'img/logos/logo.png' %}" alt="">
        <section id=biciText>
            <h3>Bicicletas de Ruta</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad obcaecati, modi ipsam adipisci explicabo ullam incidunt inventore totam odit velit est harum excepturi repellat dolor tempore nobis ab. Accusamus, iure.</p>
        </section>
    </section>


    <section id=tipobici>
        <img src="{% static 'img/logos/logo.png' %}" alt="">
        <section id=biciText>
            <h3>Bicicletas para Ruta de Barra Plana</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad obcaecati, modi ipsam adipisci explicabo ullam incidunt inventore totam odit velit est harum excepturi repellat dolor tempore nobis ab. Accusamus, iure.</p>
        </section>
    </section>

    <section id=tipobici>
        <img src="{% static 'img/logos/logo.png' %}" alt="">
        <section id=biciText>
            <h3>Bicicletas de Gravilla o Gravel</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad obcaecati, modi ipsam adipisci explicabo ullam incidunt inventore totam odit velit est harum excepturi repellat dolor tempore nobis ab. Accusamus, iure.</p>
        </section>

    </section>

    <section id=tipobici>
        <img src="{% static 'img/logos/logo.png' %}" alt="">
        <section id=biciText>
            <h3>Bicicletas Urbanas</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad obcaecati, modi ipsam adipisci explicabo ullam incidunt inventore totam odit velit est harum excepturi repellat dolor tempore nobis ab. Accusamus, iure.</p>

        </section>
    </section>

    <section id=tipobici>
        <img src="{% static 'img/logos/logo.png' %}" alt="">
        <section id=biciText>
            <h3>Bicicletas de Ciclocross</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad obcaecati, modi ipsam adipisci explicabo ullam incidunt inventore totam odit velit est harum excepturi repellat dolor tempore nobis ab. Accusamus, iure.</p>
        </section>
    </section>

    <section id=tipobici>
        <img src="{% static 'img/logos/logo.png' %}" alt="">
        <section id=biciText>
            <h3>Bicicletas de BMX</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad obcaecati, modi ipsam adipisci explicabo ullam incidunt inventore totam odit velit est harum excepturi repellat dolor tempore nobis ab. Accusamus, iure.</p>

        </section>
    </section>



</div>

<Section id="link_agendar">
    <p> ¿Ya deciciste? Vamos a Agendar una <a href="{% url 'AGENDARHORA' %} ">Agenda tu hora</a></p>
</Section>


{% endblock contenido %}


</body>

</html>